 @import 'variables';
 .navbar {
     padding: 20px;
     margin-bottom: 40px;
 }

 .navbar .bwm-search {
     height: 50px;
     width: 300px;
 }

 .navbar-brand {
     margin-right: 30px;
     font-size: 30px;
     letter-spacing: 1px;
     color: $main-color;
     font-weight: 500;

     &:hover,
     &:focus,
     &:active {
         color: $main-color !important;
     }

     img {
       margin-top: 15px;
       height: 20px;
     }
 }

 .nav-item {
     font-size: 14px;
 }

 .btn-bwm-search {
     border-color: $main-color;
     color: $main-color;
     &:hover,
     &:focus,
     &:active {
         background-color: transparent;
         border-color: $main-color !important;
         color: $main-color !important;
         box-shadow: none;
     }
 }

 .dropdown-item {
  font-size: 14px;
  &:focus,
  &:active {
    background-color: $main-color;
  }
}
