<section id="userBookings">
    <h1 class="page-title">My Bookings</h1>
    <div class="row">
       <ng-container *ngIf="bookings && bookings.length > 0">
        <div *ngFor="let booking of bookings" class="col-md-4">
          <div class="card text-center">
            <div class="card-header">
              {{booking.rental ? booking.rental.category : 'Deleted Rental'}}
            </div>
            <div class="card-block">
              <ng-container *ngIf="booking.rental">
                  <h4 class="card-title">{{booking.rental.title}} - {{booking.rental.city | ucwords}}</h4>
                  <p class="card-text booking-desc">{{booking.rental.description}}</p>
              </ng-container>
              <p class="card-text booking-days"> {{booking.startAt | formatDate}} - {{booking.endAt | formatDate}} | {{booking.days}} days</p>
              <p class="card-text"><span>Price: </span> <span class="booking-price-value">{{booking.totalPrice}} $</span></p>
              <a *ngIf="booking.rental" class="btn btn-bwm" routerLink="/rentals/{{booking.rental._id}}">Go to Rental</a>
            </div>
            <div class="card-footer text-muted">
              Created 2{{booking.createdAt | formatDate}}
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="bookings && bookings.length === 0" class="alert alert-warning">
        You have no bookings created go to rentals section and book your place today.
        <a class="btn btn-bwm" routerLink="/rentals">Available Rentals</a>
      </div>
    </div>
  </section>
