<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class=".page-title">Login</h1>
        <div *ngIf="notifyMessage" class="alert alert-success">
          {{notifyMessage}}
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div *ngIf="isInvalidInput('email')" class="alert alert-danger">
              <div *ngIf="isRequired('email')"> Email is required.</div>
              <div *ngIf="loginForm.controls['email'].errors.pattern"> Must be valid email format.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-bwm">Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/login-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
