<section id="rentalListing">
  <h1 class="page-title">Your Home All Around the World</h1>
  <div class="row">
    <div class="col-md-3 col-xs-6" *ngFor="let rental of rentals">
      <app-rental-list-item [rental]="rental"></app-rental-list-item>
    </div>

  </div>
</section>
