<agm-map (mapReady)="mapReadyHandler()" [latitude]="lat" [longitude]="lng" [zoom]="13">
  <agm-marker *ngIf="!isPositionError && lat && lng" [latitude]="lat" [longitude]="lng">
  </agm-marker>

  <agm-info-window *ngIf="isPositionError" [latitude]="0" [longitude]="0" [maxWidth]="300" [isOpen]=true>
    Ups, can't find location.
  </agm-info-window>
</agm-map>
